:root {
    --primary-blue: #4492EA;
    --primary-dark: #2B2B2B;
    --button-dark: #1E1E1E;
    --secondary-dark: #3B3B3B;
    --text-color: #BCBCBD;
    background-color: #3B3B3B;
    color: #BCBCBD;
};

.navbar-container {
    display: flex;
    flex-direction: row;
    max-width: 300px;

};

.logo {
    height: auto;
}